@use "sass:map";
@use "variables" as *;

/* FLEX DISPLAY TYPES START */

@mixin flex-base($x-flex:center, $y-flex:center){
	display: flex;
	justify-content: $x-flex;
	align-items: $y-flex !important;
}

	@each $key-0, $item-0 in $position-map{
		@each $key-1, $item-1 in $position-map{
			@if $key-0 == $key-1{
				.f-#{$key-0}{
					@include flex-base($item-0, $item-1);
					&.rev-flow{
						flex-flow: column;
					}
				}
			}
			@else{
				.f-#{$key-0}-#{$key-1}{
					@include flex-base($item-0, $item-1);
					&.rev-flow{
						flex-flow: column;
					}
				}
			}
		}
	}
	
	.wrap{
	  flex-wrap: wrap;
	}
	

/* FLEX DISPLAY TYPES END */

/* GRID DISPLAY TYPES START */

/* GRID DISPLAY TYPES END */

/* COLORS START */
@each $color-name, $color-value in $color-map{
  .bg-#{$color-name}{
    background: $color-value;
  }
  .fill-#{$color-name}{
    fill: $color-value;
  }
  .text-#{$color-name}{
    color: $color-value;
  }
  
  .active-fill-#{$color-name}:active{
    fill: $color-value !important;
  }
  .active-bg-#{$color-name}:active{
    background: $color-value !important;
  }
  .active-text-#{$color-name}:active{
    color: $color-value !important;
  }
  
  @for $i from 1 through 10{
    .border-#{$i}-#{$color-name}{
      border: #{$i}px solid #{$color-value};
    }
    .active-border-#{$i}-#{$color-name}:active{
      border: #{$i}px solid #{$color-value} !important;
    }
  }
}
/* COLORS END */