@use "components/pop-up" as *;

@media (orientation: landscape){
	#pop-up{
		@include pop-up-mixin(100vh);
	}
}

@media screen and (min-width: 768px){
	nav{

		.nav-btn{
		
			&.dropdown{
				position: relative;
					.dropdown-list{
						width: 200px !important;
						// position: absolute;
						top: 40px;
						left: -50px;
					}
			}
			
				a{
					height: 30px !important;
					width: 100%;
				}
			}
		}

	main.about > .container{
		max-width: 650px;
	}
		
}

