@use "abstracts/variables" as *;

h1{
	font-size: 25px;
}

h2{
	font-size: 15px;
}

.h-full{
	height: 100%;
}

.w-full{
	width: 100%;
}

.h-auto{
  height: auto;
}

.w-auto{
  width: auto;
}

@each $size in $sizes-percentage{
	.h-#{$size}{
		height: #{$size}%;
	}
	.w-#{$size}{
		width: #{$size}%;
	}
}

@for $i from 0 through 7{
  .m-#{$i}{
    margin: #{$i*5}px;
  }
}