<div id="pop-up-bg" style="display:none;" class="">
	<div id="pop-up" class="">
	<div class="w-full f-ed-ctr exit-btn-container">
		<div class="exit-btn exit-btn-md f-ctr">X</div>
	<!-- <div id="pop-up" class="f-ctr rev-flow"> -->
	</div>
<div class="img-container-wrapper w-full relative f-ctr">
		<a href="" class="img-container">
			<img id="page-icon" src="" alt=""/>
		</a>
			<img id="click-here" src="/assets/Pictures/Click-Here.png" alt="Click Here Image">
</div>
		<h2></h2>
		<p></p>
</div>
</div>