<div class="trapezium-container">
  <svg class="trapezium" height="" width="" viewBox="">
    <polygon points="" class="<%=bgColor%>"/>
  </svg>
 <p class="<%= textColor %>"><%= content %></p>
</div>
