<!-- <style>
  section{
    border: 1px solid lightgreen;
  }
</style> -->
<main style="border:1px solid white;" class="about-me">
  <section class="h-auto">
     <h1>Nassim Dean Azira | Full-Stack Developer & Systems Engineer</h1>
     <h3>Applying 5 years of low-level optimization and reverse-engineering discipline to modern full-stack web architecture.</h3>
  </section>
  
      <h1 style="display: block; color:white;">Skills</h1>
  <section style="color:white;" class="f-spa wrap">
    <div class="light-red-35-card max-card-size m-3">
      <h5>Frontend</h5>
      <ul>
        <li>React (Hooks, Context)</li>
        <li>Next.js</li>
        <li>TypeScript</li>
        <li>Redux Toolkit</li>
        <li>HTML5/CSS3</li>
        <li>Tailwind</li>
        <li>Bootstrap</li>
        <li>SaaS</li>
      </ul>
    </div>
  
    <div class="light-blue-35-card max-card-size m-3">
      
      <h5>Backend & DB</h5>
      <ul>
        <li>Node.js (Express)</li>
        <li>PHP</li>
        <li>MongoDB</li>
        <li>MySQL</li>
        <li>Firebase</li>
        <li>REST APIs</li>
        <li>WebSockets</li>
        <li>Python</li>
      </ul>
    </div>
  
    <div style="color:black;" class="light-green-35-card max-card-size m-3">
      
      <h5>Tools/Dev Ops</h5>
      <ul>
        <li>Git</li>
        <li>Vercel</li>
        <li>Docker</li>
        <li>Linux</li>
        <li>Vite</li>
      </ul>
    </div>
    
    <div style="color:black;" class="light-yellow-35-card max-card-size m-3">
      
      <h5>Low Level & Others</h5>
      <ul>
        <li>linux</li>
        <li>windows</li>
        <li>terminal</li>
        <li>C/C++</li>
        <li>C#</li>
        <li>Ida Pro</li>
        <li>Ghidra</li>
      </ul>
    </div>
    
  </section>
  
  <section>
    <h5>My Projects</h5>
    <a href="/about" class="view-projects f-ctr" style="height:150px; width:150px; border:1px solid green; border-radius:100%; overflow: hidden;">
      <img src="/assets/About-Me/view-projects.gif" alt="View Projects GIF" class="h-full w-full">
    </a>
  </section>
</main>