<section>
   <h1>Nassim Dean Azira | Full-Stack Developer & Systems Engineer</h1>
   <h3>Applying 5 years of low-level optimization and reverse-engineering discipline to modern full-stack web architecture.</h3>
</section>

<section>
<h1>Skills</h1>
<h5>Frontend</h5>
<ul>
  <li></li>
</ul>

<h5>Backend & DB</h5>
<ul>
  <li></li>
</ul>

<h5>Low Level & Others</h5>
<ul>
  <li></li>
</ul>
  
</section>