@use "sass:color";
@use "abstracts/variables" as *;

/* $sizes-px:[25, 50, 150, 250, 350, 500]; */

@mixin card-base($size, $border-radius, $color){
  height: #{$size}vw;
  width: #{$size}vw;
  border-radius: #{$border-radius}px;
  background: $color;
  /* &:active{
    background: ;
  } */
}


@for $cur-size from 0 through 20{
  
  @for $radius-index from 0 through 7{
    $radius:$radius-index*5;
    @each $color-name, $cur-color in $color-map{
      .card-#{$color-name}-r#{$radius}-h#{$cur-size*5}{
        @include card-base($cur-size*5, $radius, $cur-color);
      }
  }
  }
  

}