  <main>
  	
    <div id="calc-grid-container">
      <textarea id="calc-screen">0</textarea><!--0</div>-->
      
      <div class="wide-button" id="ac-button">AC</div>
      <div class="wide-button" id="del-button">DEL</div>
      <div class="number-key">7</div>
      <div class="number-key">8</div>
      <div class="number-key">9</div>
      <div class="operator">/</div>
      
      <div class="number-key">4</div>
      <div class="number-key">5</div>
      <div class="number-key">6</div>
      <div class="operator">x</div>
      
      <div class="number-key">1</div>
      <div class="number-key">2</div>
      <div class="number-key">3</div>
      <div class="operator">-</div>
      
      <div class="number-key">0</div>
      <div id="point" class="number-key">.</div>
      <div id="equals-button">=</div>
      <div class="operator">+</div>
      
    </div>
  <script src="/assets/Calculator/script.js"></script>
  </main>