<main>
	
    <audio id="soundA">
      <source src="/assets/Simon-Says//sounds/piano-mp3_A3.mp3" type="audio/mpeg">
    </audio>
    <audio id="soundB">
      <source src="/assets/Simon-Says//sounds/piano-mp3_B3.mp3" type="audio/mpeg">
    </audio>
    <audio id="soundC">
      <source src="/assets/Simon-Says//sounds/piano-mp3_C3.mp3" type="audio/mpeg">
    </audio>
    <div class="tile">A</div>
    <div class="tile">B</div>
    <div class="tile">C</div>
    
  <script src="/assets/Simon-Says/script.js"></script>
</main>

