  <div id="grid-container" class = "common-styles">
    <div class = "empty"></div>
    <div class = "empty"></div>
    <div class = "empty"></div>
    <div class = "empty"></div>
    <div class = "empty"></div>
    <div class = "empty"></div>
    <div class = "empty"></div>
    <div class = "empty"></div>
    <div class = "empty"></div>
  </div>
  <button id="reset-button" class="common-styles">Reset</button>
  <div id="buttons-container" class = "common-styles overlay-blocker">
    <h>Choose starting Letter</h>
    <div>O</div>
    <div>X</div>
  </div>
  <div id="end-screen">
    <h></h>
    <!-- <button class="common-styles">Reset</button> -->
  </div>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src ="/assets/Tic-Tac-Toe/checkWinnerScript.js"></script>
<script src = "/assets/Tic-Tac-Toe/script.js"></script>