<main>
	
<form id="timer-form">
<div id="clock">
	<div id="hour">00</div>
	<p>:</p>
	<div id="minute">00</div>
	<p>:</p>
	<div id="second">00</div>
</div>
<div class="button-container">
	<button id="set"
			 style="background:blue;">Set</button>
	<div id="pause-play"
			 style="background:green;">
		<i class="bi bi-play-fill"></i>
	</div>
	<div id="reset"
			 style="background:red;">
		<i class="bi bi-arrow-clockwise"></i>
	</div>
</div>
</form>
<script src = "/assets/Timer/counter.js"></script>
</main>