<div id="shopping-list">
  <div>
    <h>Shopping List</h>
    <input id="filter-box" type="text" placeholder="filter" class="input-field">
    <form id="input-area" class="input-field">
      <input type="text" placeholder="Add to list: e.g. Tomatoes">
      <input type="submit" value="+">
    </form>
  </div>
  <form id="list-box">
    <ul>
      <!-- <li>fjdjsje</li> -->
    </ul>
  </form>
</div>
<script src="/assets/To-Do-List/DataStorage.js"></script>
<script src="/assets/To-Do-List/script.js"></script>
<script src="/assets/To-Do-List/FilterScript.js"></script>