@use "abstracts" as *;
@use "abstracts/variables" as *;
@use "abstracts/animations" as *;
@use "abstracts/sizes" as *;
@use "abstracts/displays" as *;
@use "sass:map";
@use "components/shapes" as *;
@use "sass:math";

$big-spin-circle:250;
$small-spin-circle:50;
    
@mixin top-corner($direction:"left"){
  position: absolute;
  top: 0px;
  @if($direction=="left"){
    left: 0px;
  }@else if($direction=="right"){
    right: 0px;
  }
  @else{
    @error("$direction can either be left or right");
  }
}

@mixin back-button(){

  @extend .f-ctr;
  font-size: 50px;
  position: relative;
  @include top-corner();
  /* z-index: -1; */
  background: black;


  @extend .circle;
  height: #{$big-spin-circle}px;
  width: #{$big-spin-circle}px;
  
  &:active{
    background: white;
    color: black;
  }
  
  
}


main.about-me{
  overflow-x: clip;
    section{
      height:auto;
      @extend .f-ctr;
      @extend .wrap;
      color: white;
      
      h5{
        display: block !important;
        color:white;
      }
    
    &.intro{
      
    h1{
      &.animate{
        
      position: absolute;
      color: #343434;
      top: 175px;
      z-index: 2;
      opacity: 0;
      animation: 2s unfade2 forwards ease-out;
      }
    }
    #me{
      &.animate{
        animation: 3s grow-70-100 forwards ease-out;
        
      }
    }
    h3{
      &.animate{
        animation: 2s rise-0-30 forwards ease-out;
      }
    }
    
    p{
      &.animate{
        animation: 2s 0.5s rise-0-30 forwards ease-out;
      }
    }
    
  #me{
    height: 70vh;
    object-fit: cover;

     mask-image: linear-gradient(to bottom, black 45%, transparent 100%);
     -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
     
    
  }
    }
    
  
    &.education{
      flex-wrap: nowrap !important;
      h5{
        margin-bottom: #{math.div($small-spin-circle,2)+15}px;
      }
      height: 350px;
      
      p{
        width: 0px;
      }
      
      &.show{
        >p{
          display: block;
          //@extend .border-3-red-50;
          
          height: auto;
          width: 150px !important;
          transition: width 1s ease-in ;
          transform-origin: center right;
        }
       
          .edu-btn{
            opacity: 0;
            transition: opacity 0.35s ease-in;
          }
          
          /* Back Button */
          i{
          @extend .f-ctr;
          font-size: 50px;
          position: relative;
          @include top-corner();
          /* z-index: -1; */
          background: black;
        
        
          @extend .circle;
          height: #{$big-spin-circle}px;
          width: #{$big-spin-circle}px;
          
          &:active{
            background: white;
            color: black;
          }
          
          
        }
        
        .spinning-circle-container{
          animation: scale-100-50 1s ease-in forwards !important;
          i{
            @include back-button();
          }
          .spinning-circle{
            border: none !important;
            /* transition: border 0s 1s; */
          }
        }
      }
      &.hide{
        >p{
          height: auto;
          width: 0px !important;
          transition: width 1s ease-in ;
          transform-origin: center right;
        }
        i{
          display: none !important;
        }
        .spinning-circle-container{
          display: block;
          /* transform: scale(0.7) !important; */
          animation: scale-70-100 1s ease-out forwards !important;
        }
        .edu-btn{
          opacity: 100;
          transition: opacity 1s ease-out;
        }
        
      }
     &:not(.show):not(.hide){
         .spinning-circle-container{
           
           >p, i{
            display: none !important;
          }
          
         }
        } 
      
      .spinning-circle-container{
        
        transform: scale(7);
        opacity: 0;
        
        
        &.animate{
        opacity: 100;
        animation: mega-scale 1s linear forwards;
        }
        
        &.animated{
          opacity: 100 !important;
          animation: none;
          transform: scale(1);
        }
        
    
        
        /**/
        
        
        
      .spinning-circle{
        position: relative;
        height: #{$big-spin-circle}px;
        width: #{$big-spin-circle}px;
        @extend .circle !optional;
        animation: spin 10s forwards infinite linear;
        font-size: 50px;
        
        position: relative;
        > div{
          position: absolute;
          height: #{$small-spin-circle}px;
          width: #{$small-spin-circle}px;
          @extend .circle;
          animation: rev-spin 10s forwards infinite linear;
          object-fit: cover;
          
          @extend .f-ctr;
          
          &:active{
            background: black;
          }
        
          > img{
            height: 60%;
          }
          
          >p{
            display: none;
            &.show-edu{
              display: block;
              position: absolute;
              top: 150px;
            }
          }
          
          
        &:nth-child(1){
          top: -#{math.div($small-spin-circle, 2)}px;
          left: #{math.div(($big-spin-circle)-($small-spin-circle),2)}px;
        }
        &:nth-child(2){
          top: #{math.div($big-spin-circle, 2)+(math.div($big-spin-circle, 2)*math.sin(30deg))}px;
          left: #{(math.cos(30deg))}px;
        }
        &:nth-child(3){
          top: #{(math.div($big-spin-circle, 2)+(math.div($big-spin-circle, 2)*math.sin(30deg)))-(math.div($small-spin-circle, 2))}px;
          left: #{(math.div($big-spin-circle, 2)+(math.div($big-spin-circle, 2)*math.cos(30deg)))-(math.div($small-spin-circle, 2))}px;
        }
      
      }
    flex-flow: column;
      }
    } 



}

ul{
  text-align: center !important;
  width: 100%;
  padding: 0px;
  @extend .f-ctr;
  @extend .rev-flow;
  font-weight: 100;
}

ul > li{
  width: 100%;
  list-style-position: inside;
}

.max-card-size{
  min-height: 175px;
  min-width: 175px;
}

.skill-card{
  min-height: 175px;
  min-width: 175px;
  @extend .f-ctr;
  @extend .rev-flow;
  @extend .m-3;
  position: relative;
  overflow: hidden !important;
  
  /* h5{
    position: absolute;
    font-size: 15px;
    top: -27px;
    background: #00000030;
    
    width: 100%;
    height: 25px;
    @extend .f-ctr;
  } */
  
  ul{
    width: 100%;
    height: calc(100% - 25px);
    padding-top: 25px;
    overflow: hidden scroll;
  }
}
}

.trapezium-container{
  height:auto;
  width : auto;
  position: relative !important;
  margin: 15px 0px;
  
  &.animate{
    &:nth-child(2n){
      animation: 0.75s right-n100-0 forwards linear;
    }
    &:nth-child(2n+1){
      animation: 0.75s left-200-0 forwards linear;
    }
  }

  polygon{
    z-index: 1;
    @include top-corner();
  }
  
  
  &:nth-child(2n+1){
    /* transform: translateX(100vw); */
    p{
      @include top-corner("right");
      text-align: right !important;
    }
  }
  &:nth-child(2n){
    /* transform: translateX(-100vw); */
    p{
      @include top-corner("left");
      text-align: left !important;
    }
  }
  p{
    padding: 0px 5px;
    z-index: 2;
    width: 75%;
  }
}
}

@keyframes mega-scale{
  from{transform: scale(7);}
  to{transform: scale(1);}
}

@keyframes slide-n-shrink{
  from{transform: scale(1) translateX(0vw);}
  to{transform: scale(0.7) translateX(-30vw);}
}