@use "abstracts/variables" as *;

main.about{
	
	color: white;
	
	div.description{
		/* border-bottom: 1px solid $text-grey; */
		padding: 15px 10px;
		animation: unfade 1s both linear;
		animation-timeline: view(block 0% 10%);
		min-height: 75vh;
		position: relative;
		background-size: 100% auto !important;
		
	}
	
	img.background{
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0px;
		left: 0px;
	}
	
	h3{
		margin-top: 50px;
	}
	
	ul{
		li{
			animation-timeline: view(block 0% 10%);
			transform: translateY(1000vh);
		}
	&.skills{
	li{
		img{
			height: 15px;
			width: 15px;
		}
	}
	} 
	} 

}